
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio - Simulador de Créditos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div class="circle"></div>
    <div class="circle"></div>

    <header>
        <h1>Simulador de Créditos</h1>
        <p class="description">
            Bienvenido <span th:text="${usuario.getNombreCompleto()}"></span> al sistema de simulación de créditos. Desde aquí podrás conocer cuánto pagarías por un préstamo en base al monto, plazo y tasa. ¡Empieza tu experiencia financiera!
        </p>
    </header>

    <footer>
        Proyecto Final Grupo 3 - Curso Java BACK-END Developer Cibertec
    </footer>
</body>
</html>
