<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Clientes</title>
    <link rel="stylesheet" href="../static/css/listadoclientes.css">
    <script src="../static/js/jquery-3.7.1.min.js"></script>
    <script src="../static/js/listadoclientes.js"></script>
</head>
<body>
    <div class="clientes-container">
        <h2>Listado de Clientes</h2>
        <table id="tablaClientes">
            <thead>
                <tr>
                    <th style="display:none;">ID</th>
                    <th>Nombre Completo</th>
                    <th>Email</th>
                    <th>Tipo Documento</th>
                    <th>N° Documento</th>
                </tr>
            </thead>
            <tbody>
                <!-- Los datos se llenarán por JS -->
            </tbody>
        </table>
    </div>
</body>
</html>
